<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
</head>
<body>
    <h1>Edit Car</h1>
    <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/cars/edit/<%= car._id %>" method="POST">
        <label>Make:</label>
        <input type="text" name="make" value="<%= car.make %>" required>
        <br>
        <label>Model:</label>
        <input type="text" name="model" value="<%= car.model %>" required>
        <br>
        <label>Year:</label>
        <input type="number" name="year" value="<%= car.year %>" required>
        
        <br>
        <button type="submit">Update Car</button>
    </form>
    <a href="/cars">Back to Car Collection</a>
</body>
</html>